################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application.Domain/obj/Debug
/Application.Domain/bin/Debug
/Application.Service/obj
/Application.Service/bin/Debug
/Application.Website/obj/Debug
/Application.Website/bin
